.game-over {
    width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.game-over--title {
    font-size: 100px;
    text-align: center;
    color: var(--accent-color);
}

.results-container {
    display: flex;
    justify-content: center;
}

.results-target {
    margin: var(--m-padding-h);
    border: var(--accent-border);
    width: 200px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: var(--s-padding) var(--m-padding)
}
.results-target :nth-child(1):before {
    content: 'Total targets: '
}
.results-target :nth-child(2):before {
    content: 'Targets missed: '
}
.results-target :nth-child(3):before {
    content: 'Targets hit: '
}

.results-click {
    margin: var(--m-padding-h);
    border: var(--accent-border);
    width: 200px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: var(--s-padding) var(--m-padding)
}

.results-click :nth-child(1):before {
    content: 'Total clicks: '
}

.results-click :nth-child(2):before {
    content: 'Clicks missed: '
}

.results-click :nth-child(3):before {
    content: 'Clicks hit: '
}

.game-over--name-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.game-over--details-container {
    min-height: 60px;
    display: flex;
    width: 530px;
    padding: var(--m-padding-v);
}

.game-over--name-input {
    border: var(--default-border);
    border-radius: var(--border-radius-left);
    background-color: var(--main-bg-color);
    color: var(--main-fg-color);
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: var(--m-padding-h);
    flex-grow: 1;
    border-right: 0;
}

.game-over--name-input::placeholder {
    font-weight: 500;
    color: var(--border-color);
}

.game-over--name-link {
    flex-grow: 1;
    width: 80px;
}

.game-over--name-submit {
    font-weight: bold;
    color: var(--main-fg-color);
    border-radius: var(--border-radius-right);
    border: var(--default-border);
    border-left: 0;
    width: 100%;
    height: 100%;
    padding: var(--m-padding-h);
    background-color: var(--accent-color);
}

.game-over--name-submit:disabled {
    background-color: var(--border-color);
    color: var(--main-bg-color);
}

.game-over--name-submit:disabled:hover {
    cursor: not-allowed;
}

.game-over--name-submit:hover {
    cursor: pointer;
    background-color: var(--border-color);
}