 /* The switch - the box around the slider */
 .toggle-switch {
    position: relative;
    display: inline-block;
    margin-right: 3.5px;
    width: 56px;
    height: 30px;
  }
  
  /* Hide default HTML checkbox */
  .toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .toggle-switch--slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--secondary-bg-color);
    border: var(--accent-border);
    -webkit-transition: .4s;
    transition: .4s;
    
  }
  
  .toggle-switch--slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: var(--main-fg-color);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .toggle-switch--slider {
    background-color: var(--accent-color);
  }
  
  input:focus + .toggle-switch--slider {
    box-shadow: 0 0 1px var(--accent-color);
  }
  
  input:checked + .toggle-switch--slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .toggle-switch--slider.round {
    border-radius: var(--border-radius);
  }
  
  .toggle-switch--slider.round:before {
    border-radius: var(--border-radius);
  } 
