.setup-page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 var(--s-padding);
}


.setup-page--title {
    margin: var(--l-padding-v);
    text-align: center;
    font-size: var(--title-font-size);
}