.navigation-bar {
    border-top: 8px solid var(--accent-color);
    height: 74px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--nav-color);
    box-shadow: var(--nav-shadow);
    color: var(--nav-text-color);
}

.navigation-bar--theme-switch {
    width: 20px;
    height: 20px;
}

.navigation-bar > * {
    margin: var(--m-padding);
}

.navigation-bar ul {
    list-style-type: none;
}

.navigation-bar ul li {
    display: inline-block;
    padding-left: var(--m-padding);
}

.navigation-bar--link {
    text-decoration: none;
    background: none;
    color: var(--nav-text-color);
}

.navigation-bar--link:hover {
    color: var(--accent-color);
    cursor: pointer;
}

.navigation-bar--end-game {
    cursor: pointer;
    border-radius: var(--border-radius);
    background-color: var(--accent-color);
    color: var(--cards-text-color);
    padding: var(--s-padding-v);
    width: 150px;
    margin: var(--s-padding-h);
    box-shadow: var(--card-shadow);
}

.navigation-bar--end-game:hover {
    background-color: var(--accent-color-hover);
} 