.leader-board-row {
    height: 60px;
    display: flex;
    width: 100%;
    background-color: var(--secondary-background-color);
    line-height: 60px;
    margin: var(--s-padding-v);
    overflow: hidden;
    border-radius: var(--border-radius);
    box-sizing: border-box;
    box-shadow: var(--shadow);
    color: var(--primary-foreground-color);
}

.leader-board-row:nth-of-type(1) div:nth-of-type(3) {
    background-color: var(--first-position-color);
}

.leader-board-row:nth-of-type(2) div:nth-of-type(3) {
    background-color: var(--second-position-color);;
}

.leader-board-row:nth-of-type(3) div:nth-of-type(3) {
    background-color: var(--third-position-color);
}

.leader-board-row--position {
    font-weight: bold;
    text-align: center;
    min-width: 60px;
}

.leader-board-row--name {
    padding: var(--m-padding-h);
    flex-grow: 1;
}

.leader-board-row--highscore {
    font-size: 1.4em;
    text-align: center;
    padding-left: 12px;
    min-width: 120px;
    background-color: var(--accent-color);

    clip-path: 
    polygon(
        10% 0,
        100% 0,
        100% 100%,
        0 100%
    );
}
