.game-start--container {
    padding: var(--l-padding-v);
    display: flex;
    justify-content: center;
}

.game-start--button {
    cursor: pointer;
    border-radius: var(--border-radius);
    background-color: var(--accent-color);
    color: var(--accent-foreground-color);
    padding: var(--s-padding-v);
    width: 150px;
    margin: var(--s-padding-h);
    box-shadow: var(--shadow);
}

.game-start--button:hover {
    background-color: var(--accent-color-hover);
} 