.dark-theme {
    --bg-color: #121212;
    --text-color: #eeeeee;
    --accent-color: #514BE9;
    --accent-color-hover: #736eff;
    --border-color: #424242;
    --gold: #CC9000;
    --silver: #7A7A7F;
    --bronze: #A66426;

    --nav-color: #1F1F1F;
    --nav-text-color: #D8D8D8;

    --cards-color: #2e2e2e;
    --secondary-cards-color: #1D1D1D;
    --cards-text-color: #eeeeee;

    --leaderboard-highscore-color: #514BE9;
    
    --game-border:  2px solid #424242;
    --default-border: 2px solid #424242;
    --accent-border: 2px solid #514BE9;

    --slider-color: #121212;
    --switch-color: #D8D8D8;
    --toggled-color: #514BE9;

    --nav-shadow: 0 4px 4px -2px rgba(0,0,0,0.23);
    --card-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);
    color: var(--text-color);
    background-color: var(--bg-color);
    
}

.light-theme {
    --bg-color: #fafafa;
    --text-color: #202020;
    --accent-color: #514BE9;
    --accent-color-hover: #736eff;
    --border-color: #bebebe;
    --gold: #ffc744;
    --silver: #cacaf0;
    --bronze: #e7994f;

    --nav-color: #FFFFFF;
    --nav-text-color: #202020;
    
    --cards-color: #736eff;
    --secondary-cards-color: #514BE9;
    --cards-text-color: #FFFFFF;

    --leaderboard-highscore-color: #FFFFFF;
    
    --slider-color: #bebebe;
    --switch-color: #514BE9;
    --toggled-color: #FFFFFF;

    --game-border:  2px solid #bebebe;
    --default-border: 2px solid #424242;
    --accent-border: 2px solid #514BE9;

    --nav-shadow: 0 4px 4px -2px rgba(0,0,0,0.23);
    --card-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);
    color: var(--text-color);
	background-color: var(--bg-color);
}

:root {
    
    --google-color: #DF4A32;
    --github-color: #444444;
    --twitter-color: #50ABF1;
    --facebook-color: #39579A;

    --border-radius: 3px;
    --border-radius-left: 3px 0 0 3px;
    --border-radius-right: 0 3px 3px 0;

    --title-font-size: 3em;
    --logo-font-size: 2em;

    --l-padding: 50px;
    --l-padding-h: 0 50px;
    --l-padding-v: 50px 0;
    --m-padding: 20px;
    --m-padding-h: 0 20px;
    --m-padding-v: 20px 0;
    --s-padding: 10px;
    --s-padding-h: 0 10px;
    --s-padding-v: 10px 0;
    --xs-padding: 5px;
    --xxs-padding: 2px;
    --xxxs-padding: 1px;
}