.game-settings {
    display: flex;
    justify-content: space-between;
    
}

.game-setting--container {
    min-height: 60px;
    display: flex;
    min-width: 500px;
    margin: var(--xs-padding) 0;
    box-shadow: var(--card-shadow);
}

.game-setting--container:nth-last-child(1):nth-child(odd) {
    margin: 0 auto;
}

@media screen and (max-width: 1700px) {
    .game-settings {
        display: flex;
        justify-content: space-around;
    }
}

.game-setting--name {
    text-transform: capitalize;
    font-weight: bold;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius-left);
    padding: var(--m-padding-h);
    background-color: var(--secondary-cards-color);
    color: var(--cards-text-color);
    width: 120px;
}

.game-setting--selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--m-padding-h);
    background-color: var(--cards-color);
    border-radius: var(--border-radius-right);
    color: var(--cards-text-color);
    flex-grow: 1;
}

.game-setting--arrows {
    display: flex;
}

.game-setting--arrow {
    font-size: 18px;
    margin: 2px 0;
    background-color: var(--bg-color);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    
    margin:  0 0 0 6px;
    color: var(--accent-color);
}

.game-setting--arrow.left{ 
    padding: 1px 6px 1px 3px;
}

.game-setting--arrow.right{ 
    padding: 1px 3px 1px 6px;
}

.game-setting--arrow:hover {
    background-color: var(--border-color);
}

.game-setting--input {
    text-transform: uppercase;
    background-color: var(--bg-color);
    border: none;
    border-radius: var(--border-radius);
    padding: var(--xs-padding);
    color: var(--text-color);
    flex-grow: 1;
}

.game-setting--colour {
    background-color: var(--border-color);
    border: 5px solid var(--bg-color);
    border-radius: 100px;
    width: 25px;
    height: 25px;
    margin: 0 9px 0 29px;
}
